In [1]:
import os
import pandas as pd

default_path = "C:/Users/Jo/PYDATAexam/test/"
test_df = pd.read_csv("C:/Users/Jo/PYDATAexam/test.csv")

test_df['img_path'] = test_df['img_path'].apply(lambda x: default_path + x.split('/')[2])

In [4]:
import cv2
import sys
import pytesseract
import re
from tqdm import tqdm

ans = []

for i,path in tqdm(enumerate(test_df['img_path'])) :
    # Read image path from command line
    imPath = path

    # Define config parameters.
    # '-l eng'  for using the English language
    # '--oem 1' sets the OCR Engine Mode to LSTM only.

    config = ('-l kor --oem 1 --psm 3')

    # Read image from disk
    im = cv2.imread(imPath, cv2.IMREAD_COLOR)
    #im = cv2.imread(imPath, cv2.COLOR_BGR2GRAY)

    # Run tesseract OCR on image
    text = pytesseract.image_to_string(im, config=config)

    # Print recognized text
    ans.append(re.sub(" ","",text))

74121it [3:13:34,  6.38it/s]

In [9]:
submission = pd.read_csv("C:/Users/Jo/PYDATAexam/sample_submission.csv")
submission.head()

           id label
0  TEST_00000     가
1  TEST_00001     가
2  TEST_00002     가
3  TEST_00003     가
4  TEST_00004     가

In [10]:
submission.shape

(74121, 2)

In [11]:
len(ans)

74121

In [12]:
submission['label'] = ans

In [13]:
submission.shape

(74121, 2)

In [14]:
submission.head()

           id   label
0  TEST_00000
1  TEST_00001
2  TEST_00002
3  TEST_00003  접헤구덕\n
4  TEST_00004     우\n

In [17]:
submission['label'] = submission['label'].apply(lambda x: re.sub('\n','',x))
submission.head()

           id label
0  TEST_00000
1  TEST_00001
2  TEST_00002
3  TEST_00003  접헤구덕
4  TEST_00004     우

In [18]:
submission.to_csv("mysub.csv",index=False)